</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>Todas las recetas están bajo PPL <a href="https://endefensadelsl.org/ppl_deed_es.html">(Licencia de producción de pares)</a></li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Jekyll integration: <a href="http://andrewbanchi.ch">Andrew Banchich</a></li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
