<section class="tiles">

{% for post in site.posts limit:site.front-page-posts %}
	<article>
		<span class="image">
			<img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.excerpt }}</p>
			</div>
		</a>
	</article>
{% endfor %}

</section>
